html, body {
    height: 100%;
}
* {
    margin: 0px;
    padding: 0px;
}
img {
    max-width: 100%;
}

#anketa {
    width: 662px;
    margin: 0px auto;
    height: 698px;
    /* border: 1px solid red; */
    /* background-image: url("../img/task1.png"); */
}
#anketa h3 {
    margin-top: 1px;
    font-size: 30px;
    color: #712300;
    letter-spacing: 0.75px;
    margin-bottom: 21px;
}

#anketa fieldset{
    background-color:#faf3ee ;
    width: 98.5%;
    margin: 0px auto;
    margin-bottom: 8px;
    border: 2px solid #7ecbc9;
    border-radius: 6px;
}

/* * ОТСТУПЫ МЕЖ БЛОКАМИ  */
#anketa fieldset:first-of-type{
    height: 148px;
}


#anketa fieldset legend {
    color: #7ecbc9;
    margin-left: 11px;
    font-size: 17px;
    letter-spacing: 0.44px;
}
#anketa fieldset label {
    display: block;
    overflow: hidden;
    padding-left: 7px;
    padding-top: 5px;
    padding-bottom: 4px;
    width: 457px;
}

#anketa fieldset label span{
    float: left;
    color: #ad4e2d;
    width: 202px;
}

#anketa fieldset label input{
    float: right;
    width: 246px;
    border: 2px solid #bdbec1;
    font-size: 14px;
}

#anketa fieldset label select{
    float: left;
    margin-left: 5px;
    width: 120px;
    border: 2px solid #bdbec1;
    font-size: 14px;
    
}

#anketa fieldset label span.TextAreaText{
    width: 207px;
}

.TextAreaEat{
    width: 248px;
    height: 56px;
    margin-bottom: 4px;
}

#anketa fieldset label h4{
    font-size: 14px;
    color: #712300;
    letter-spacing: 0.8px;
    padding-bottom: 7px;
}

#anketa fieldset label.RadioButtonLabelArea{
    padding: 0px;
    padding-left: 8px;
    margin-top: 4px;
    padding-bottom: 7px;
}

#anketa fieldset label input.RadioButtonChoise{
    float: left;
    width: 22px;
}

#anketa fieldset label span.RadioButtonDescription{
    float: left;
    width: 432px;
}

#anketa fieldset label.RadioButtonLastLabelArea{
    padding: 0px;
    padding-left: 8px;
    margin-top: 4px;
    padding-bottom: 2px;
}

#anketa fieldset:last-of-type{
    padding-bottom: 13px;
    margin-bottom: 10px;
}

#anketa .SubmitButton{
    background: linear-gradient(180deg, rgba(227,235,231,1) 17%, rgba(107,195,194,1) 83%);    color: #712300;
    border: 2px solid #7ecbc9;
    border-radius: 6px;
    width: 114px;
    height: 38px;
    margin-left: 1px;
}