html, body {
    height: 100%;
    background-color: #f0f0f0
}
* {
    margin: 0px;
    padding: 0px;
}
img {
    max-width: 100%;
}

#RegistrationForm {
    width: 811px;
    height: 540px; 
    margin: 0px auto;
    margin-top: 10px;
    border: 1px solid #fff;
    border-radius: 24px;
    background-color: #fff;

    /* ! УДАЛИТЬ ПОТОМ */
    background-image: url("../img/HW2.png");
    background-repeat: no-repeat;
    background-position: -3px -7px;

}

#RegistrationForm h3{
    padding-top: 12px;
    padding-left: 47px;
    margin-bottom: 10px;
    color: #878787;
    font-size: 21px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.5px;
    background-image: url("/static/img/v1.bmp");
    background-size: 33px 33px;
    background-repeat: no-repeat;
    background-position: 11px 9px;
}

.TopContainer{
    margin-left: 7px;
    margin-right: 18px;
}

#RegistrationForm fieldset{
    border: none;
    border-top: 1px solid #e1e1e1;

}

#RegistrationForm fieldset legend{
    margin-left: 20px;
    color: #b4c27a;
    font-size: 15px;
    letter-spacing: 0.45px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.TopContainerLeftBlock{
    display: inline-block;
    width: 298px;
    padding-top: 9px;
}

.TopContainerRightBlock{
    display: inline-block;
    padding-top: 9px;
}

#RegistrationForm fieldset label{
    display: block;
    overflow: hidden;
}

#RegistrationForm fieldset label span{
    float: left;
    padding-top: 3px;
    font-size: 12px;
    letter-spacing: 0.6px;
    font-family: Arial, sans-serif;
    font-weight: 100;
    text-align: right;
}

#RegistrationForm fieldset label input{
    border: 1px solid #e8e8e8;
    font-size: 16px;
}

#RegistrationForm fieldset label.TopContainerLabelLeft{
    padding-right: 2px;
    margin-bottom: 4px;
}

#RegistrationForm fieldset label.TopContainerLabelRight{
    padding-right: 2px;
    margin-bottom: 4px;
}

#RegistrationForm fieldset label.TopContainerLabelLeft span{
    width: 148px;
}

#RegistrationForm fieldset label.TopContainerLabelLeft input{
    width: 141px;
    float: right;
}

#RegistrationForm fieldset label.TopContainerLabelRight span{
    width: 138px;
    margin-right: 7px;
}

#RegistrationForm fieldset label.TopContainerLabelRight input{
    width: 141px;
    float: left;
}

#RegistrationForm fieldset label.TopContainerLabelRight span.TopContainerLabelRightSpanPS{
    float: left;
    padding-top: 5px;
    padding-left: 9px;
    font-style: italic;
}

.CenterContainer{
    margin-top: 14px;
    margin-left: 7px;
    margin-right: 18px;
}


#RegistrationForm fieldset.FieldSetLeft{
    display: block;
    float: left;
    width: 375px;
    border-right: 1px solid #e1e1e1;
}

#RegistrationForm fieldset.FieldSetRight{
    display: block;
    float: left;
    width: 409px;
}

#RegistrationForm div.CenterContainer fieldset legend{
    margin-bottom: 9px;
}

#RegistrationForm div.CenterContainer fieldset label{
    margin-bottom: 3px;
}

#RegistrationForm fieldset label.CenterContainerLeft span{
    width: 105px;
    margin-right: 7px;
}

#RegistrationForm fieldset label.CenterContainerLeft span.NoMatter{
    color: #b9b9b9;
}

#RegistrationForm fieldset label.CenterContainerLeft input{
    float: left;
    font-size: 17px;

}

#RegistrationForm fieldset label.CenterContainerLeft input.InputLongWidth{
    width: 247px;
}

#RegistrationForm fieldset label.CenterContainerLeft input.InputPhone{
    width: 140px;
}

#RegistrationForm fieldset label.CenterContainerLeft select{
    width: 129px;
}

#RegistrationForm fieldset label.CenterContainerLeft:nth-child(6){
    margin-bottom: 7px;
}

#RegistrationForm fieldset label.CenterContainerLeft:last-child{
    margin-bottom: 55px;
}

#RegistrationForm div.CenterContainer fieldset.FieldSetRight legend{
    margin-bottom: 10px;
}

#RegistrationForm div.CenterContainer fieldset.FieldSetRight label{
    margin-bottom: 1px;
}

#RegistrationForm fieldset.FieldSetRight span{
    width: 106px;
    margin-right: 7px;
}

#RegistrationForm fieldset.FieldSetRight label.RadioButtonLabelAreaChoiseGender{
    display: inline-block;
}

#RegistrationForm fieldset.FieldSetRight label.RadioButtonLabelAreaChoiseGender input.RadioButtonGender{
    display: inline-block;
    width: 12px;
}

#RegistrationForm fieldset.FieldSetRight label.RadioButtonLabelAreaChoiseGender span{
    display: block;
    margin: 0;
    padding: 0;
    padding-top: 3px;
    padding-left: 4px;
    padding-right: 12px;
    float: right;
    width: 31px;
}

#RegistrationForm fieldset.FieldSetRight label.BDay select{
    border: 1px solid #e8e8e8;
    font-size: 15px;
    margin-right: 1px;
}

#RegistrationForm fieldset.FieldSetRight label.BDay select.InputDateDay{
    width: 40px;
}

#RegistrationForm fieldset.FieldSetRight label.BDay select.InputDateMonth{
    width: 130px;
}

#RegistrationForm fieldset.FieldSetRight label.BDay input.InputDateYear{
    width: 30px;
}

#RegistrationForm fieldset.FieldSetRight label.BDay span.BDRightSpanPS{
    width: 52px;
    float: right;
    color: #7f7f7f;
    margin-top: 1px;
    margin-right: 28px;
    font-size: 12px;
    padding: 0px;
}

#RegistrationForm fieldset.FieldSetRight label.LabelSelectNationality{
    margin-top: 7px;
}

#RegistrationForm fieldset.FieldSetRight label.LabelSelectNationality select.SelectNationality{
    width: 130px;
    font-size: 14px;
}

#RegistrationForm fieldset.FieldSetRight label.LabelChildren{
    margin-top: 7px;
}

#RegistrationForm fieldset.FieldSetRight label.LabelChildren input{
    margin-top: 5px;
    width: 12px;
}

#RegistrationForm fieldset.FieldSetRight div.HintBox{
    margin-top: 16px;
    margin-left: 13px;
    width: 390px;
    height: 108px;
    border: 1px solid #e8e8e8;
    background: rgb(244,251,220);
    background: linear-gradient(180deg, rgba(244,251,220,1) 0%, rgba(253,254,248,1) 72%);
}

#RegistrationForm fieldset.FieldSetRight div.HintBox h5{
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #a7ab9b;
    padding-bottom: 6px;
    padding-top: 5px;
    padding-left: 6px;
    letter-spacing: 0.8px;
}

#RegistrationForm fieldset.FieldSetRight div.HintBox span{
    display: block;
    width: auto;
    margin: 0;
    padding-left: 9px;
    padding-right: 6px;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #91928d;
    line-height: 13px;
}

#RegistrationForm div.FotterContainer{
    display: block;
    float: left;
    margin-top: 20px;
    margin-left: 7px;
    margin-right: 18px;
}

#RegistrationForm div.FotterContainer fieldset.FieldSetTermsAndDetails{
    width: 509px;
    border-right: 1px solid #e1e1e1;

}